*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    position: relative;   
    overflow:hidden;

}
@font-face {
    font-family: a;
    src: url(./Magma/jost-variable.ttf);
}
@font-face {
    font-family: c;
    src: url(./Magma/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: a;
    src: url(./Magma/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1{
    height:100vh;
    width:100vw;
    position:relative;
}
#page1>video{
    height:100%;
    width:100%;
    object-fit:cover;
}

#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 7vh;
    width: 100vw;
  
}

#page1>nav>img{
    width: 9%;
    margin-top: -1.7vw;
}

#right-nav>button{
    padding:10px 20px;
    border-radius: 50px;
    background:#0b48ed ;
    border-color: 1px solid #fff;
    font-family: a;
    font-size:15px ;
    
}
.bottom-page1{
    position: absolute;
    bottom:5%;
    height: 35vh;
    width: 50vw; 
    left:10%;
}
.bottom-page1>h1{
    font-family: a;
    font-size:5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: a;
    
}

.bottom-page1-inner>button{
    padding: 10px 20px;
    border:none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-weight: normal;
    
}

.bottom-page1>h4{
    font-size:1.3vw ;
    font-weight: 100;
    color: #fff;
}